<div class="bg" style="background-color: #F8F8F8;">
    <nz-spin [nzSpinning] = "isSpinning" [nzSize]="'large'" nzTip="working...">

        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <div nz-col nzSpan="24">
                        <h1 style="margin-left: 100px;">Login</h1>
                    </div>
                </div>
                <form nz-form>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please Provide Your Email!">
                            <nz-input-group nzPrefixIcon="user">
                                <input type="text" nz-input placeholder="Email" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Please Provide Your Password!">
                            <nz-input-group nzPrefixIcon="lock">
                                <input type="password" nz-input placeholder="Password" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log In</button>
                    Or <a routerLink="/register">Register Now!</a>
                 </form>
            </div>
        </div>
    </nz-spin>
</div>
